body{
    font-size: larger;
    font-family: sans-serif;
}

#container1{
    background-color: rgb(67, 67, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container1 div:first-child{
    display: flex;
    gap: 10px;
}

#container2{
    display: flex;
    width :100%;
    align-items: center;
    padding: 10px 10px;
}

#container4{
    background-color: rgb(43, 103, 178);
    border-radius: 9px;
    padding: 80px;
    color: white;
}

#container7{
    background-color: rgb(43, 103, 178);
    box-shadow: 0px, 0px, 10px;
    color: white;
    text-align: left;
    display: flex;
    padding: 40px;
    gap: 55px;
    font-weight: lighter;
    font-size: 16px;
    border-top: solid;
    border-color: rgb(90, 226, 90);
    border-width: 5px;
}
#myEmail{
    color: white;
    align-items: center;
}

.myList{
    list-style-type: none;
    display:flex;
    justify-content: center;
    width: 100%;
}
.myNav li{
    margin-right: 20px;
}

#myButton{
    background-color: rgb(28, 164, 28);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    margin-left: auto;
}

#companyOverViewBtn{
    color: white;
    font-weight: bold;
    background-color: rgb(26, 138, 26);
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
}

aside{
    display: block;
    float: left;
    padding: 10px;
}
section{
    float: left;
    padding: 10px;
}
article{
    float: left;
    padding: 10px;
}

#container6{
    display: flow-root;
    justify-content: center;
    padding: 20px;
}

#manImage{
    float: left;
    margin-right: 15px;
    margin-left: 10px;
    width: 550px;
    height: auto;
    padding:30px;
    border-radius: 10px;
}

/* 1. Container anchor */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* 2. Hide list by default & position it directly underneath */
.dropdownmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  list-style: none;
  padding: 8px 0;
  margin: 0;
  min-width: 220px;
  z-index: 1000; /* Keeps menu above other page content */
}

/* 3. THE HOVER TRIGGER: Shows the list when hovering over "About Us" */
.dropdown:hover .dropdownmenu {
  display: block;
}

/* 4. Item styling */
.dropdownmenu li a {
  color: white;
  background-color: rgb(78, 78, 227);
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  text-align: left;
  font-weight:100;
}

.dropdownmenu li a:hover {
  background-color: #f0f4fa;
}

ul{
    list-style-type: none;
    margin: 0;
}

.snackPictures{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.snackpack{
    margin: 20px;
    border: solid;
    width: 250px;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px black;
}

